.webline {
  position: fixed;
  bottom: 250px;
  left: calc(41% + 100px);
  background-color: black;
  height: 450px;
  width: 6px;
}

.webgrab {
  position: fixed;
  left: calc(41% + 88px);
  bottom: 690px;
  font-size: 3rem;
  letter-spacing: -50px;
  opacity: 1;
}
.webgrab span {
  font-size: 4rem;
}
